/* ========== GLOBAL STYLES =========== */
:root {

--color-light-gray: #f9fafb;
--color-light-blue: #e0f7f7;
--color-blue: #05a9b2;
--color-dark-blue: #0b8082;
--color-primary: #0f172a;
--color-primary-light: #475569;
   
--font-family-primary: 'Source Serif 4', serif;
--font-family-secondary: 'Source Sans 3', sans-serif;

--ff-body: var(--font-family-primary);
--ff-heading: var(--font-family-secondary);

--fw-regular: 400;
--fw-semi-bold: 500;
--fw-bold: 600;

--fs-300: .875rem;
--fs-400: 1.125rem;
--fs-500: 1.3rem;
--fs-600: 1.875rem;
--fs-700: 3.5rem;

--fs-small: var(--fs-300);
--fs-body: var(--fs-400);
--fs-primary-heading: var(--fs-700);
--fs-secondary-heading: var(--fs-500);
--fs-nav: var(--fs-400);
--fs-button: var(--fs-500);

}

@media (max-width: 48em) {
    :root {
       
        --fs-300: .875rem;
        --fs-400: 1rem;
        --fs-500: 1.3rem;
        --fs-600: 1.5rem;
        --fs-700: 3rem;

    

--fs-body: var(--fs-400);
--fs-primary-heading: var(--fs-700);
--fs-secondary-heading: var(--fs-500);
--fs-nav: var(--fs-400);
--fs-button: var(--fs-500);


    }

}

body {
    background-color: var(--color-light-gray);
    color: var(--color-primary);
    font-size: var(--fs-body);
    font-weight: var(--fw-regular);
    font-family: var(--ff-body);
 
}

h1 {
    font-family: var(--ff-heading);
    font-size: var(--fs-primary-heading);
    font-weight: var(--fw-bold);
    margin-bottom: 20px;
    
}

h2 {
    font-family: var(--ff-heading);
    font-size: var(--fs-secondary-heading);
    font-weight: var(--fs-secondary-heading);
    margin-bottom: 20px;

}

h3 {
    font-family: var(--ff-heading);
    font-size: var(--fs-secondary-heading);
    font-weight: var(--fs-secondary-heading);
    margin-bottom: 20px;
}

p {
    font-size: var(--fs-400);
    font-weight: var(--fw-regular);
    
}



a {
    text-decoration: none;
}

strong {
    font-weight: var(--fw-bold);
}


section {
    padding: 100px 0;
}


.container {
--max-width: 1110px;
--padding: 1rem;

width: min(var(--max-width), 100% - (var(--padding) * 2));
margin-inline: auto; 
}

.button {
    padding: 0.8em 1.2em;
    background-color: var(--color-primary);
    color: var(--color-light-gray);
    font-family: var(--font-family-secondary);
    font-size: var(--fs-button);
    font-weight: var(--fw-semi-bold);
    border-radius: 5px;
    letter-spacing: 0.5px;
    line-height: 1;
    border: 1px solid var(--color-primary);
    cursor: pointer;
}

.button:hover {
    background-color: var(--color-primary-light);
    border: 1px solid var(--color-primary-light);
}


.dots {
    color: var(--color-dark-blue);
}

.card {
    padding: clamp(2.25rem, 1.364vw + 1.909rem, 3rem);
    background-color: #fff;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 2px 6px -2px;
}

/* ========== END OF GLOBAL STYLES =========== */

/* ========== Navigation =========== */

.navigation .logo {
    display: flex;
    align-items: center;
    gap: 0 10px;
}

.logo > img[alt~="Tsolakidis Anatolios"]{
    font-size: 8px;
    color: red!important;
}

.logo > img {
    width: 60px;
    height: 60px;
    border-radius: 100%;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;

}

.navigation ul {
    display: flex;
    gap: 0 10px;
    color: var(--color-primary-light);
   
}

.primary-navigation ul {
    gap: 0 20px;
    
 }

 .primary-navigation li {
    transition: all .1s ease-in-out;
 }

.primary-navigation li:hover {
    text-underline-offset: 0.5ch;
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

.primary-navigation li:active {
    text-underline-offset: 0.5ch;
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

.nav-social li , .footer-social li {
    transition: all .1s ease-in-out;
}

.nav-social li:hover , .footer-social li:hover{
    transform: scale(1.1);
}

.active {
    text-underline-offset: 0.5ch;
    text-decoration: underline;
    text-decoration-thickness: 2px;
}



/* =============== MOBILE NAVIGATION =============== */

.sr-only {
    position: absolute;
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0,0,0,0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.mobile-nav-toggle {
    display: none;
}


@media screen and (max-width: 48em) {
    
 .navigation {
   display: block;
     
    }

    .flex-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

   .primary-navigation {
    display: none;
   } 


    .primary-navigation ul {
        display: block;
    }

    .primary-navigation ul li{
        padding: 20px 0;
    }

    .primary-navigation[data-visible] {
        display: block;
        text-align: center;
      
    }
    
    .mobile-nav-toggle img {
        width: 20px;
        height: 20px;
    }

    .icon-close {
       display: none;
    }
    
    .mobile-nav-toggle {
       display: block;
       cursor: pointer;
       background: transparent;
       border: 0;
       
     
    }
     
    ul.nav-social {
        display: none;
    }

}



/* =============== HOME =============== */

@media screen and (max-width: 48em) {
    .cv-download {
        text-align: center;
    }
}





/* =============== ABOUT =============== */


/* skills */
 .skills-title {
    font-family: var(--ff-heading);
    font-size: var(--fs-primary-heading);
    font-weight: var(--fw-bold);
    margin-bottom: 20px;
 }

.flex-container p {
    border-right: 1px solid var(--color-primary);
    padding-right: 10px;
    font-weight: var(--fw-bold);
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 50px;
    flex-wrap: wrap;
}

.flex-container ul {
    display: flex;
    align-items: center;
    gap: 0 20px;
    flex-grow: 2;
}


/* experience */
.skills-img{
    width: 40px;
    height: 40px;
}


.container-card {
    display: flex;
    justify-content: space-between;
    gap: 0 20px;
    
}

.content {
    flex-shrink: 3;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary);
    border-radius: 100%;
    width: 50px;
    height: 50px;
}

.icon svg {
    width: 30px;
    height: 30px;
    color: white;
}

.year p {
 font-size: var(--fs-small);
}

.position h2 {
  font-size: var(--fs-secondary-heading);
  font-weight: var(--fw-bold);
}



/* =============== PROJECTS =============== */



.project-flex-container {
    display: flex;
    gap: 50px 50px;
    flex-wrap: wrap;
}

.card-container {
    display: flex;
    justify-content: space-between;
    gap: 0 50px;
    flex: 1 0 calc(50% - 25px);
}

.image {
    flex-basis: 50%;
}

.project-content {
    flex-basis: 50%;
}

.live-view button {
    margin-top: 50px;
}

.project-title h2 {
    font-weight: var(--fw-bold);
}

.project-description p {
    padding-bottom: 50px;
}

@media screen and (max-width: 48em) {
    
    .card-container {
        flex-direction: column;
        flex: 1 0 calc(50% - 15px);
    }
  
    .project-title {
        margin-top: 20px;
    }

}






/* =============== CONTACT =============== */

#contact-form {
    padding: 50px 0;
}

label {
    display: block;
    text-align: left;
}

input, textarea{
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #d1d5db;
    border-radius: 5px;
    width: 100%;
    
}

.controls, .contact-hero {
    padding: 0 5rem;
}



@media screen and (max-width: 48em) {

    .controls, .contact-hero {
        padding: 0 1.5rem;
    }
}



/* =============== FOOTER =============== */

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    margin-top: auto 0;
}


.footer ul {
    display: flex;
    gap: 0 10px;
}


@media screen and (max-width: 48em) {
    .footer {
        display: flex;
        align-items: center;
        gap: 20px 0;
        
    }

    .footer ul {
       margin: 20px 0;
    }

    .footer p {
        font-size: var(--fs-300);
    }

    .footer-social {
        font-size: var(--fs-300);
    }

 
}