:root {

--color-light-gray: #f9fafb;
--color-light-blue: #e0f7f7;
--color-blue: #05a9b2;
--color-dark-blue: #0b8082;
--color-primary: #0f172a;
--color-primary-light: #475569;
   
--font-family-primary: 'Source Serif 4', serif;
--font-family-secondary: 'Source Sans 3', sans-serif;

--ff-body: var(--font-family-primary);
--ff-heading: var(--font-family-secondary);

--fw-regular: 400;
--fw-semi-bold: 500;
--fw-bold: 600;

--fs-300: .875rem;
--fs-400: 1.125rem;
--fs-500: 1.3rem;
--fs-600: 1.875rem;
--fs-700: 3.5rem;

--fs-body: var(--fs-400);
--fs-primary-heading: var(--fs-600);
--fs-secondary-heading: var(--fs-500);
--fs-nav: var(--fs-400);
--fs-button: var(--fs-500);

}

@media (min-width: 48em) {
    :root {
       
    /* --fs-600: 2.5rem;
    --fs-700: 3.5rem;

    --fs-body: var(--fs-400);
    --fs-nav: var(--fs-400);
    --fs-button: var(--fs-300); */

    }

}

body {
    background-color: var(--color-light-gray);
    color: var(--color-primary);
    font-size: var(--fs-body);
    font-weight: var(--fw-regular);
    font-family: var(--ff-body);
}



a {
    text-decoration: none;
}

a:visited {
    color: var(--color-primary-light)
}


section {
    padding: 100px 0;
}


.container {
--max-width: 1110px;
--padding: 1rem;

width: min(var(--max-width), 100% - (var(--padding) * 2));
margin-inline: auto; }

.button {
    padding: 0.8em 1.2em;
    background-color: var(--color-primary);
    color: var(--color-light-gray);
    font-family: var(--font-family-secondary);
    font-size: var(--fs-button);
    font-weight: var(--fw-semi-bold);
    border-radius: 5px;
    letter-spacing: 0.5px;
    line-height: 1;
    border: 1px solid var(--color-primary);
}

.button:hover {
    background-color: var(--color-primary-light);
    border: 1px solid var(--color-primary-light);
}

/* ========== end of Global Styles =========== */

/* ========== styles =========== */


.navigation a {
    display: flex;
    align-items: center;
    gap: 0 10px;
}

.logo > img[alt~="Tsolakidis Anatolios"]{
    font-size: 8px;
    color: red!important;
}

.logo > img {
    width: 60px;
    height: 60px;
    border-radius: 100%;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;

}

.navigation ul {
    display: flex;
    gap: 0 10px;
    color: var(--color-primary-light);
}

.primary-navigation ul{
    gap: 0 20px;
 }

.primary-navigation li:hover {
    text-underline-offset: 0.5ch;
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

.primary-navigation li:active {
    text-underline-offset: 0.5ch;
    text-decoration: underline;
    text-decoration-thickness: 2px;
}






























/* ========== footer =========== */

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.footer ul {
    display: flex;
    gap: 0 10px;
}